*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    padding: 6px 200px 0px 200px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    height: 50px;
    align-items: center;
}
nav .logo{
    font-size: 24px;
    color: #F9FAF8;
    padding: 11px 0px 0px 19px;
}
.logo img{
    height: 44px;
    border-radius: 9px;
    scale: 1.2;
}
nav .links{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

main {
    padding: 0px 200px 0px 200px;
    background: #1f2937;
    display: flex;
    height: 471px;
    justify-content: space-between;
    align-items: center;
}
.hero{
    gap: 80px;
    display: flex;
}
main .text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
main .hero-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

main .desc{
    color: #e5e7eb;
    font-size: 18px;
}

main .image{
    border: 3px solid white;
    color: black;
    background-color: grey;
    text-align: center ;
}

.ele{
    flex : 1;
}

.btn {
    margin-top: 7px;
}
button{
    background: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 6px 30px 8px 30px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn :hover {
    background: #3871f6;
}

/* Info */
.info {
    height: 471px;
    /* border: 2px solid red; */
}
.info .info-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.info .info-hero{
    display: flex;
    /* border: 2px solid red; */
    height: auto;
    justify-content: center;
    gap: 45px;
}
.info .info-hero .box{
    /* border: 2px solid red; */
    width:  181px;
    font-size: 18px;
    text-align: center;
    color: #1f2937;
}
.box .info-image {
    border: 4px solid #3883f6;
    height: 181px;
    border-radius: 14px;
}

/* Quote */
.quote {
    background: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: 400;
    width: 55vw;
    color: #1f2937;
    font-style: italic;
    text-align: center;
}

.call2 {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call2 .blue-box{
    background: #3882f6;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 0px 200px 0px 200px;
    align-items: center;
    padding: 45px 0px 45px 0px;
    border-radius: 9px;
}

.blue-box .text p{
    color: #e5e7eb;
    font-size: 18px;
}
.blue-box .text h3{
    color: #F9FAF8;
    font-size: 28px;
}

.blue-box .signup2 button{
    border: 2px solid white;
}

.signup2 :hover {
    background: #86b5ff;
}

footer {
    height: 100px;
    background: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}